<div class="card">
  <div class="card-header">
    <h4>Course</h4>
  </div>
  <div class="card-body">
    {{#if empty}}
    <h5 class="card-title">Không có dữ liệu!</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    {{else}}
    <div class="row">
      {{#each listBySubFields}}
      <div class="col-sm-4 mb-3">
        <div class="card h-100">
          <img src="{{imagePath}}" alt="{{this.CourseName}}" title="{{this.CourseName}}"
            class="card-img-top">
          <div class="card-body">
            <h2 class="card-title">{{this.CourseName}}</h2>
            <h4 class="card-title">Field: {{this.fieldName}}</h4>
            <h4 class="card-title">Lecturer Name: {{this.LecturerName}}</h4>
            <h5 class="card-title text-danger"><i class="fas fa-dollar-sign "></i> Price: {{Price}}</h5>
            <h5 class="card-title">Rating: 
              <span class="star-rating--star-wrapper--2eczq">
                    <i class="fa fa-thumbs-o-up fa-lg mr-1 text-info" aria-hidden="true"></i>
                    <span
                      class="udlite-heading-sm star-rating--rating-number--3lVe8"
                      aria-hidden="true"
                      data-purpose="rating-number"
                    >
                      {{this.Rating}}
                    </span>
                  </span>
            </h5>
            <p class="card-text">{{this.briefDescription}}</p>
          </div>
          <div class="card-footer text-muted">
            <a class="btn btn-sm btn-outline-primary" href="/product/detail/{{this.CourseID}}" role="button">
              <i class="fa fa-eye" aria-hidden="true"></i>
              Details
            </a>
            {{#unless auth}}
            <a class="btn btn-sm btn-outline-success" href="#" role="button">
              <i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add to cart
            </a>
            {{/unless}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <nav>
      <ul class="pagination">
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        {{#each this.page_numbers}}
        {{#if isCurrentPage}}
        <li class="page-item active">
          <a class="page-link" href="javascript:;">{{value}}</a>
        </li>
        {{else}}
        <li class="page-item">
          <a class="page-link" href="?page={{value}}">{{value}}</a>
        </li>
        {{/if}}
        {{/each}}
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
    {{/if}}
  </div>
</div>
