{{#each course}}
<div class="card">
  <h4 class="card-header">
    {{CourseName}}
  </h4>
  <div class="card-body">
    <img src="/course/{{CourseID}}/photo.png" alt="{{CourseName}}">
    <p class="card-text mt-3">Price: {{Price}}</p>
    <p class="card-text">
      Lecturer: {{LecturerName}}
    </p>
    <p class="card-text">
      Phone: {{LecturerPhone}}
    </p>
    <p class="card-text">
      University: {{LecturerUniversity}}
    </p>
    <p class="card-text">
      {{{fullDescription}}}
    </p>
    
  </div>
  <div class="card-footer text-muted">
    <small>Last upadated 3 minutes ago.</small>
  </div>
</div>
{{/each}}
