{{#with product}}
<div class="card">
  <h4 class="card-header">
    {{ProName}}
  </h4>
  <div class="card-body">
    <img src="/public/imgs/sp/{{ProID}}/main.jpg" alt="{{ProName}}">
    <p class="card-text mt-3">Giá bán: <span class="text-danger font-weight-bold">{{format_number Price}}</span></p>
    <p class="card-text">Tồn kho: {{Quantity}}</p>
    <p class="card-text">
      {{{FullDes}}}
    </p>
  </div>
  <div class="card-footer text-muted">
    <small>Last upadated 3 minutes ago.</small>
  </div>
</div>
{{/with}}