{{#section 'css'}}
<style>
  .img-big {
    width: 100%;
    height: auto;
  }

</style>
{{/section}}

{{#section 'js'}}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

  function DisplayError(string){
    swal("Error!", string, "error");
  }

  function onClickEnroll(){
    const onUsing = "{{auth}}"
    if (onUsing === "true"){
      const newData = {
        courseId: "{{course.CourseID}}"
      }
      $.post("/student/enroll", newData, function(data, status){
        console.log(data);
          if(data === true){
            swal("Success!", "Your have enrolled successfully!", "success").then((value)=>{
              if (value === true){
                location.reload();
              }
            });
          }
          else{
            DisplayError(data);
          }
        });
    }
    else{
      location.replace("/account/login");
    }
  }

  function onAddtoWatchList(){
    const onUsing = "{{auth}}"
    if (onUsing === "true"){
      /*const newData = {
        courseId: "{{course.CourseID}}"
      }
      $.post("/student/watchlist", newData, function(data, status){
        console.log(data);
          if(data === true){
            swal("Success!", "Added!", "success").then((value)=>{
              if (value === true){
                location.reload();
              }
            });
          }
          else{
            DisplayError(data);
          }
        });*/
    }
    else{
      location.replace("/account/login");
    }
  }
</script>
{{/section}}

{{#with course}}
<div class="card" style="display: flex; margin: 35px;">
  <a href="#currentPage">
    <h1 class="card-header">
    {{CourseName}}
    {{#unless ../isEnrolled}}
     <button type="button" class="btn btn-primary btn-lg" onclick="onClickEnroll()">Enroll</button>
    {{/unless}}
     <button type="button" class="btn btn-primary btn-lg" onclick="onAddtoWatchList()">Add to Watchlist</button>
    </h1>
  </a>
  <div class="card-body">
    <img src="{{imagePath}}" alt="{{CourseName}}" class="img-big">
    <p class="card-text mt-3">Price: {{Price}}</p>
    <p class="card-text">
      Lecturer: {{LecturerName}}
    </p>
    <p class="card-text">
      Phone: {{LecturerPhone}}
    </p>
    <p class="card-text">
      University: {{LecturerUniversity}}
    </p>
    <p class="card-text" style="display: flex; justify-content: flex-end; margin: auto;">
      {{{fullDescription}}}
    </p>

    <h1 class="udlite-heading-xl styles--audience__title--1Sob_" style="text-align: left;">Feedback</h1>
    {{#each ../feedbackList}}
      <div class="card-body">
        <h4 class="card-text">Name: {{StudentName}}</h4>
        <h4 class="card-text">{{Star}}</h4>
        <h4 class="card-text">{{datePost}}</h4>
        <p class="card-text">
          {{{StudentComment}}}
        </p>
      </div>
    {{/each}}

    <h1 class="udlite-heading-xl styles--audience__title--1Sob_" style="text-align: left;">Course Content</h1>
    {{#each ../courseContent}}
    
      <div class="card-body">
        <span class="card-text">#{{ID}}</span>
        <span class="card-text">{{Title}}</span>
        <span class="card-text">
        </span>
      </div>
      {{#with preview}}
        <div><a href="{{this}}"> Video Preview </a></div>
      {{/with}}
      {{#if ../../isEnrolled}}
      {{#with videoPath}}
        <div><a href="{{this}}"> Video </a></div>
      {{/with}}
      {{/if}}
      <!-- if purchased show video link, else, only preview -->
    {{/each}}

  <div class="card-footer text-muted">
    <small>Last updated {{lastUpdate}} days ago.</small>
  </div>
</div>
{{/with}}
