{{#each course}}
<div class="card" style="display: flex; margin: 35px;">
  <h4 class="card-header">
    {{CourseName}}
  </h4>
  <div class="card-body">
    <img src="/course/{{CourseID}}/photo.png" alt="{{CourseName}}">
    <p class="card-text mt-3">Price: {{Price}}</p>
    <p class="card-text">
      Lecturer: {{LecturerName}}
    </p>
    <p class="card-text">
      Phone: {{LecturerPhone}}
    </p>
    <p class="card-text">
      University: {{LecturerUniversity}}
    </p>
    <p class="card-text" style="display: flex; justify-content: flex-end; margin: auto;">
      {{{fullDescription}}}
    </p>
    
    <h1 class="udlite-heading-xl styles--audience__title--1Sob_" style="text-align: left;">Feedback</h1>
    {{#each feedbackList}}
      <div class="card-body">
        <h4 class="card-text">Name: {{StudentName}}</h4>
        <h4 class="card-text">{{Star}}</h4>
        <h4 class="card-text">{{datePost}}</h4>
        <p class="card-text">
          {{{StudentComment}}}
        </p>
      </div>
    {{/each}}

    <h1 class="udlite-heading-xl styles--audience__title--1Sob_" style="text-align: left;">Course Content</h1>
    {{#each courseContent}}
      <div class="card-body">
        <h4 class="card-text">#{{ID}}</h4>
        <h4 class="card-text">{{Title}}</h4>
        <span class="card-text">
          {{previewVideo}}
        </span>
      </div>
      <!-- if purchased show video link, else, only preview -->
    {{/each}}
  </div>

  <div class="card-footer text-muted">
    <small>Last updated {{lastUpdate}} days ago.</small>
  </div>
</div>
{{/each}}
