{{#with listBySubFields}}
<div class="card">
  <h4 class="card-header">
    {{CourseName}}
  </h4>
  <div class="card-body">
    <img src="/course/{{CourseID}}/photo.png" alt="{{CourseName}}">
    <p class="card-text mt-3">Price: <span class="text-danger font-weight-bold">{{Price}}</span></p>
    <p class="card-text">
      {{{fullDescription}}}
    </p>
  </div>
  <div class="card-footer text-muted">
    <small>Last upadated 3 minutes ago.</small>
  </div>
</div>
{{/with}}
