{{#section 'css'}}
<link rel="stylesheet" href="/owlcarousel/assets/owl.carousel.min.css" />
<link rel="stylesheet" href="/owlcarousel/assets/owl.theme.default.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" />

<style>
  .popular-courses--item {
    display: block;

    position: relative;

    width: auto;
    height: 75vh;

    margin: 2rem auto 0;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .popular-courses--item-caption {
    position: absolute;
    bottom: 0;
  }

  .popular-courses--item-title,
  .popular-courses--item-description {
    padding: 0 1.5rem;
    margin-bottom: 0.8rem;

    display: -webkit-box;

    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;

    color: white;
    text-shadow: -1px -0.5px grey;
  }

  .popular-courses--item-description {
    margin-bottom: 1.6rem;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.4;
  }
</style>
{{/section}}

{{#section 'js'}}
<script src="/owlcarousel/owl.carousel.min.js"></script>
<script>
  $(document).ready(function(){
    $('.popular-courses.owl-carousel').owlCarousel({
      animateOut: 'slideOutDown',
      animateIn: 'flipInX',
      items: 1,
      margin: 24,
      stagePadding: 24,
      smartSpeed: 450,
      autoplay: true,
      autoplayTimeout: 3000,
      autoplayHoverPause: true,
      loop: true
    });
    $('.most-viewed-courses.owl-carousel').owlCarousel({
      loop:true,
      nav: true,
      margin: 10,
      autoplay: true,
      autoplayTimeout: 3000,
      autoplayHoverPause: true,
      responsiveClass: true,
      responsive:{
        0:{
            items: 1,
            nav: false,
        },
        600:{
            items: 3,
            slideBy: 2
        },
        1000:{
            items: 5,
            slideBy: 4
        }
      }
    })
  });
</script>
{{/section}}

<div class="popular-courses owl-carousel owl-theme">
  {{#each popularCourses}}
  <a
    href="javascript:;"
    class="popular-courses--item"
    style="background-image: url({{trimImagePath imagePath}})"
  >
    <div class="popular-courses--item-caption">
      <div class="popular-courses--item-title">{{title}}</div>
      <div class="popular-courses--item-description">{{briefDescription}}</div>
    </div>
  </a>
  {{/each}}
</div>

<div class="headline udlite-container">
  <div class="headline__main-text udlite-heading-xl">
    A product from Group 4
  </div>
  <div class="headline__sub-text row row-cols-3">
    <div class="col px-auto py-auto">1753063 Cao Duy Khiem</div>
    <div class="col px-auto py-auto">18127103 Cao Gia Hung</div>
    <div class="col px-auto py-auto">18127126 Huynh Duc Le</div>
  </div>
</div>

<div class="udlite-container">

  {{!-- Khoá học được xem nhiều nhất --}}
  <div class="component-margin">
    <div class="unit-title--container--EH-Rf">
      <h2 class="udlite-heading-xl unit-title--title--2TQwd">
        Most viewed courses
      </h2>
    </div>
    <div class="most-viewed-courses carousel--container--22Ab7 owl-carousel owl-theme">
      {{#each mostViewedCourses}}
      <div class="carousel--scroll-item--3Wciz">
        <div class="popper--popper--19faV">
          <a class="course-card" href="javascript:;">
            <div class="course-card--container--3w8Zm course-card--medium--iRtVR">
              <div class="course-card--image-wrapper--Sxd90">
                <img
                  alt=""
                  width="240"
                  height="135"
                  class="course-card--course-image--2sjYP browse-course-card--image--35hYN"
                  src={{trimImagePath imagePath}}
                >
              </div>
              <div class="course-card--main-content--3xEIw course-card--has-price-text--1Ikr0">
                <div class="udlite-heading-md course-card--course-title--2f7tE">
                  {{title}}
                </div>
                <div class="udlite-text-xs course-card--instructor-list--lIA4f" data-purpose="safely-set-inner-html:course-card:visible-instructors">
                  Jose Portilla
                </div>
                <div class="course-card--row--1OMjg">
                  <span class="star-rating--star-wrapper--2eczq">
                    <span
                      class="udlite-heading-sm star-rating--rating-number--3lVe8"
                      aria-hidden="true"
                      data-purpose="rating-number"
                    >
                      {{likes}} likes
                    </span>
                  </span>
                  <span  class="udlite-text-xs course-card--reviews-text--12UpL">
                    ({{format_number view}} views)
                  </span>
                </div>
                <div
                  class="price-text--container--Ws-fP course-card--price-text-container--2sb8G"
                  data-purpose="price-text-container"
                >
                  <div
                    class="price-text--price-part--Tu6MH course-card--discount-price--3TaBk udlite-heading-md"
                    data-purpose="course-price-text"
                  >
                    ${{price}}
                  </div>
                </div>
                <div class="udlite-badge udlite-heading-xs udlite-badge-bestseller hidden">
                  Bestseller
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

</div>
